*{
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
}
.topNav{
    width: 100%;
    height: 40px;
    background-color: #262626;
    display: flex;
    align-items: center;
    justify-content: center;
}
.innerNav{
    width:90%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.leftCon{
    width: 40%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.leftCon p{
    color: #999;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.6px;
}
.rightCon{
    width: 40%;
    height: 100%;
    display: flex;
    align-items:center;
    justify-content:flex-end;
    gap: 35px;
}
.rightCon p{
    color: #999;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.6px;

}
.rightCon h4{
    color: #999;
    font-size: 13px;
    font-weight: 400;
    letter-spacing: 0.6px;
}
.rightCon i{
    font-size: 8px;
    margin-left: 2px;
}
.firstNav{
    width: 90%;
    height:90px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
}
.details{
    width: 550px;
    height: 300px;
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    position: absolute;
    top:92px;
    z-index: 10;
}
.dropDown{
    height: 100%;
    position: relative; 
    display: flex; 
    align-items: center;  
}
.dropDown p{
    font-size: 13px;
    height: 100%;
    display: flex;
    align-items: center;
}

.dropDown:hover .details{
    display: flex;
}

.dropCont{
    width: 92%;
    /* height: 23%; */
    display: flex;
    align-items: center;
    justify-content:space-between;
    
  

}
.drop{
    width: 38%;
    height: 85%;
    display: flex;
    align-items: flex-start;
    justify-content:space-between;
    flex-direction: column;
}
.drop h3{
    font-size: 14px;
    color: #000000;
    font-weight: 400;
    border-bottom: 1px solid #888888;
    line-height:28px;
}
.drop p{
    font-size: 13px;
    color:#777777;
    letter-spacing: 0.5px;
    line-height:30px;
}
.drop a{
    color: #000000;
    text-decoration: none;
}
.drop1{
    width: 40%;
    height: 85%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
}
.drop1 h3{
    font-size: 14px;
    color: #000000;
    font-weight: 400;
    border-bottom: 1px solid #888888;
    line-height:28px;
}
.drop1 p{
    font-size: 13px;
    color:#777777;
    letter-spacing: 0.5px;
    line-height:30px;
}
.drop2{
    width: 32%;
    height: 85%;
    display: flex;
    align-items: flex-start;
    justify-content:space-between;
    flex-direction: column;
}
.drop2 h3{
    font-size: 14px;
    color: #000000;
    font-weight: 400;
    border-bottom: 1px solid #888888;
    line-height:28px;
}
.drop2 p{
    font-size: 13px;
    color:#777777;
    letter-spacing: 0.5px;
    line-height:30px;
}
.details img{
 padding:18px 15px;
}
 .item:hover .item1{
    display: flex;
}
.item{
    height: 100%;
    display: flex;
    position: relative;
    align-items: center;
   
}
.item p{
    height: 100%;
    display: flex;
    align-items: center;
   
}
.item1{
    width: 155px;
    height: 115px;
    background-color: white;
    display: none;
    align-items: flex-start;
    justify-content:space-evenly;
    flex-direction: column;
    position:absolute;
    top:90px;
    left: -20px;
    padding-left: 18px;
    border: 1px solid lightgray;
}
.item1 p{
    font-size: 13px;
    color:#777777;
    letter-spacing: 0.5px;
    line-height:5px;
}


   
.inDivision{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 25px;
}

.dropDown p:hover{
    color: #ebb5ac;
    transition: 0.5s all;
}
.firstNav p:hover{
    color: #ebb5ac;
    transition: 0.5s all;
}

.imgIcons{
    width: 11%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
 }
 .imgIcons i:hover{
     color: #ebb5ac;
     transition: 0.1s all;
 }
 .num{
     position: relative;
 }
 .num p{
     width: 18px;
     height: 16px;
     background-color: #ebb5ac;
     display: flex;
     align-items: flex-end;
     justify-content: center;
     position: absolute;
     border-radius: 25px;
     font-size: 12px;
     bottom: 9px;
     left: 8px;
 }
 .bgNav{
    width: 100%;
    background-color: #f5f5f5;
    height: 70px;
 }
.secondNav{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
} 

.secondNav p{
    color: #000000;
    font-weight: 400;
    width: 37px;
    height: 18%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    font-size: 14px;
}
.secondNav p:hover{
    border-bottom: 1px solid #ebb5ac;
    color: #ebb5ac;
}
.wholeCont{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.inSide{
    width: 90%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    
}
.leftSide{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
}
.home{
    width:100%;
    height: 100%;
    display: flex;
    align-items:center;
    justify-content:flex-start;
    margin-top: 35px;
    
}
 .home h4{
    width: 230px;
    height: 22px;
    padding: 10px 15px;
    background-color: #ebb5ac;
    color: #000000;
}

.paras{
    width:98%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.downCont{
    width: 89%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    line-height: 32px;
    margin-top: 10px;
    margin-left: 5px;


}
.downCont p{
    font-size: 14px;
    
}
.downCont p:hover{
    color: #ebb5ac;
    transition: 0.3s all;
}
.img1{
    width:92%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content:center;
    margin-top: 40px;
    
}
.img1 img{
    width: 263px;
    height: 266px;
}
.new{
    width:92%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content:center;
    margin-top: 25px;
}    
.new p{
    width: 233px;
    height: 10%;
    padding: 10px 15px;
    background-color:#f5f5f5;;
    color: #000000;
    font-size: 15px;
}
.img2{
    width:100%;
    height: 100%;
    display: flex;
    align-items:flex-start;
    justify-content:flex-start;
    margin-top: 23px;
    flex-direction: column;
    
    
}

.baseDetails{
    width: 78%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: column;
    line-height: 2.0;
    margin-right: 10px;
}
.lastDet{
    width: 70%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content:space-between;
}
.stars i{
    width: 12%;
    height: 100%;
    font-size: 11px;
    color:#D9D9D9;
}
.baseDetails p{
    font-size: 14px;
    letter-spacing: 0.8px;
}
.lastDet{
     width: 72%;
     height: 32px;
     display: flex;
     align-items: center;
     justify-content: space-between;
}
.lastDet del{
    font-size: 14px;
    color:#888888;
    letter-spacing: 0.6px;
}
.lastDet p{
    font-size: 14px;
    color: #f00;
}
.lastDet h4{
    font-size: 16px;
     color: #000000; 
     font-weight: 600;
}
.stars1 i{
    width: 12%;
    height: 100%;
    font-size: 11px;
    color: #ebb5ac;
}
.lastDet1{
    width:60%;
    height: 32px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.lastDet1 del{
   font-size: 14px;
   color:#888888;
   letter-spacing: 0.6px;
}
.lastDet1 p{
   font-size: 14px;
   color: #f00;
}
.lastDet1 h4{
   font-size: 16px;
    color: #000000; 
    font-weight: 600;
}
.items{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;

}
.items a{
    color: #000000;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.5px;
}
.blogCat{
    width:91%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content:flex-start;
    margin-top: 10px;
    flex-direction: column;
    
}
.blogCat h4{
    width: 230px;
    height: 22px;
    padding: 10px 15px;
    background-color: #f5f5f5;;
    color: #000000;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.5px;
}
.variety {
    width: 97%;
    height: 120px;
    display: flex;
    align-items: flex-start;
    justify-content:center;
    flex-direction: column;
}
.variety p{
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 0.5px;
}
.rightSide{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
   
}
.sideCont {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 35px;
    margin-right: -10px;
   
   
} 
.sideCont h1{
    font-size: 19px;
    font-weight: 600;
    letter-spacing: 0.5;
}
.grids{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 21px;    
    gap: 31px;
    margin-right: -10px;
    overflow:hidden ;
}
.grids1{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin-top: 37px;    
    gap: 31px;
    margin-right: -10px;
    overflow:hidden ;
    
}
.inGrid{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.icons{
    width:94px;
    height: 44px;
    display: none;
    position: absolute;
}
.dateImg {
    height: 350px;
    width: 100%;
    overflow: hidden;
    transition: 0.3s all ease-in-out;
} 
.dateImg img{
    height: 100%;
    width: 100%;
    object-fit: fill;
    overflow: hidden;
    cursor: pointer;
    transition: 0.5s ease-in-out all;
}

.inGrid:hover #imgHover{
    transform: scale(1.1);
    transition: 0.5s all ease-in-out;
    overflow: hidden;
} 

.icons2{
    width: 95px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: absolute;
    bottom: 26px;
    right: -4px;
}
.icons2 i{
    width: 40px;
    height: 40px;

    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    font-size: 13px;
    color: white;
    
} 
.inGrid:hover .icons {
     display: flex;
     
}
 .icons2 i:hover {
   
    background-color: #ebb5ac;
     color: #000000;
    border: 2px solid #ebb5ac;
    
     transition: 0.5s all;
}
.date img{
    width: 100%;
    height: 100%;
}
.date{
    width: 262px;
    height: 337px;
    position: relative;
}
.date P{
    width: 107px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    background-color: #ebb5ac;
    color: black;
    transform: rotate(-90deg) ;
    top: 40px;
    left: -39px;  
    font-size: 14px;
    letter-spacing: 0.5px;
    
}

.gridCont{
    width:100%;
    height: 75px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
    
}
.gridCont p{
    margin-top: 35px;
    letter-spacing: 0.3px;
    line-height: 24px;
}
.middle{
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.mid{
    width: 22%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content:flex-end;
}
.mid p{
    font-size: 14px;
    color: #888888;
    letter-spacing: 0.3px;
}
.mid1{
    width: 19%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content:space-evenly;
    margin-left: 2px;


}
.mid1 h5{
    width: 36px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ebb5ac;
    color: #000000;
}
.mid1 h6{
    width: 36px;
    height: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000;
    color:white;
    font-size: 13px;
}
.mid1 h6:hover{
    background-color: #ebb5ac;
    color: #000000;
    transition: 0.3s all;
}
.footer {
    width: 100%;
    height: 340px; 
    background-color: #262626;
    padding: 50px 0px;
    margin-top: 20px;
  }
  .innerFooter {
    width: 90%;
    height: 250px;
    margin-left: auto;
    margin-right: auto;
  
    display: flex;
  
    align-items: center;
    justify-content: space-between;
  }
  .sideIcon {
    width: 36%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }
  .sideIcon h3 {
    color: #ffffff;
    font-weight: 500;
    font-size: 18px;
    margin-top: 28px;
  }
  
  .sideIcon-1 {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }
  .sideIcon-1 p {
    width: 100%;
    color: #888;
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 25px;
  }
  .sideIcon-1 i {
    padding-right: 12px;
    color: #ebb5ac;
    font-size: 15px;
  }
  .conSection {
    width: 30%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }
  .conSection-1 {
    width: 100%;
    height: 175px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
  .conSection h3 {
    color: #ffffff;
    font-weight: 500;
    font-size: 18px;
    margin-top: 28px;
  }
  .conSection-1 p {
    width: 100%;
    color: #888;
    font-size: 13px;
    letter-spacing: 1px;
  }
  .proSection {
    width: 23%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }
  .proSection-1 {
    width: 100%;
    height: 70%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px;
  }
  .proSection h3 {
    color: #ffffff;
    font-weight: 500;
    font-size: 18px;
    margin-top: 28px;
  }
  .proSection-1 p {
    width: 100%;
    color: #888;
    font-size: 13px;
    letter-spacing: 1px;
  }
  .comSection {
    width: 22%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }
  .comSection-1 {
    width: 100%;
    height: 175px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 22px;
  }
  .comSection h3 {
    color: #ffffff;
    font-weight: 500;
    font-size: 18px;
    margin-top: 28px;
  }
  .comSection-1 p {
    width: 100%;
    color: #888;
    font-size: 13px;
    letter-spacing: 1px;
  }
  .newSection {
    width: 30%;
    height: 250px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }
  .newSection h3 {
    color: #ffffff;
    font-weight: 500;
    font-size: 18px;
    margin-top: 28px;
  }
  .newSection-1 {
    width: 100%;
    height: 175px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
  }
  .newSection-1 p {
    width: 100%;
    color: #888;
    font-size: 13px;
    letter-spacing: 1px;
    line-height: 25px;
  }
  .newSection-1 button {
    width: 100%;
    height: 45px;
    color: #888;
    font-size: 13px;
    letter-spacing: 1px;
    padding: 12px;
    background-color: white;
    border: none;
    display: flex;
    align-items: center;
    justify-content: flex-start;
  }
  
  .footer-Icon {
    width: 75%;
    display: flex;
  
    align-items: flex-start;
    justify-content: space-between;
  }
  .footer-Icon i {
    font-size: 16px;
    color: #888;
  }
  .footer-Icon i:hover{
    color: #ebb5ac;
    transition: 0.3s all;
  }
.fixed{
    width: 100%;
    height: 54px;
    background-color: #222222;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0px;
}
.fixed p{
    font-size: 13px;
    color: white;
    letter-spacing: 1.2px;
}
.fixed button{
    width: 81px;
    height: 31px;
    border-radius: 3px;
    border: white;
    font-size: 12px;
    font-weight: 500;
    margin-left: 15px;
    background-color: white;

}
@media(max-width:1200px){
    
}
@media(max-width:600px){
    .topNav{
        display: none;
    }
   .inDivision{
    display: none;
   }
    .imgIcons{
        display: none;
    }
    .inSide{
        flex-direction: column;
    }
    .grids{
        grid-template-columns: repeat(1,1fr);
    
    }
    .fixed{
        display: none;
    }
    .img1{
        width: auto;
        margin-top: 18px;
    }
    .img1 img{
        width: 370px;
        height: 345px;
    }
    .home h4{
        width: 370px;
    }
    .new{
        width: 368px;
    }
    .new p{
        width: 340px;
        text-align: center;
    }
    .home{
        width: 370px;
    }
    .paras{
        width: 345px;
    }
    .img2{
        width: 300px;
    }
    .items{
        width: 115px;
        height: 55px;
    }
    .blogCat{
        width: 255px;
    }
    .sideCont{
        margin-top: 20px;
    }
    .grids1{
        grid-template-columns: repeat(1,1fr);

    }
    .gridCont{
        width: 67%;
    }
    .mid{
        width: 50%;
    }
    .mid1{
        width: 45%;
        margin-right: 0px;
    }
    .middle{
        height: 100%;
        margin-bottom: 15px;
        margin-top: 15px;
    }
    .footer{
        height: 100%;
        margin-top: 0px;
        padding: 20px 0px;
    }
    .innerFooter{
        height: 100%;
        flex-direction: column;
        display: grid;
        grid-template-columns: repeat(2,4fr);
    }
    .newSection{
        height: 100%;
    }
    .newSection-1{
        height: 100%;
    }
    .conSection-1{
        height: 75%;
        align-items: center;
    }
    .conSection-1 p{
        width: 75%;
    }
    .conSection{
        width: 75%;
        align-items: center;
        margin-left: 40px;
    }
    .sideIcon{
        width:100%;
    }
    .sideIcon-1{
        width: 75%;
    }
    .sideIcon p{
        width: 205px;
    }
    
    .proSection{
        width: 60%;
    }
    .comSection{
        width: 200px;
        margin-left: -11px;
    }
    .comSection-1{
        height: 75%;
    }
    .proSection-1{
        height: 75%;
    }
    .newSection{
        width: 100%;
    }
    .newSection-1{
        height: 70%;
    }
    .newSection-1 button{
        margin-top: 10px;
        margin-left: -3px;
        border-radius: 0px;
    }
    .footer-Icon{
        width: 100%;
        margin-top: 12px;
    }
    .fixed{
        display: none;
    }
    
    
}



